config EXYNOS_DECON_LCD
	depends on EXYNOS_DECON_7885
	bool "Select LCD panel driver"

config EXYNOS_DECON_LCD_S6E3FA0
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSIM
	tristate "S6E3FA0 AMOLED FHD LCD driver"

config EXYNOS_DECON_LCD_S6E3FA3
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSIM
	tristate "S6E3FA3 AMOLED FHD LCD driver"

config EXYNOS_DECON_LCD_S6E3FA7
	depends on EXYNOS_DECON_LCD && EXYNOS_MIPI_DSIM
	tristate "S6E3FA7 AMOLED FHD+ LCD driver"

config DISPLAY_USE_INFO
	tristate "Support display use info logging"
	default n

config EXYNOS_DECON_MDNIE
	tristate "Support MDNIE"
	default n

config EXYNOS_DECON_MDNIE_LITE
	depends on EXYNOS_DECON_MDNIE
	tristate "Support backward compatibility for MDNIE"
	default y

config EXYNOS_DECON_MDNIE_CONTROL
	bool "Samsung Exynos7885 Display colour controller"
	default n

config SUPPORT_POC_FLASH
	depends on EXYNOS_DECON_LCD
	tristate "Support display poc flash"
	default n

config EXYNOS_DECON_LCD_S6E3FA7_JACKPOT2
	tristate "S6E3FA7_JACKPOT2 LCD driver"

config EXYNOS_DECON_LCD_S6E3FA7_JACKPOT
	tristate "S6E3FA7_JACKPOT LCD driver"

config EXYNOS_DECON_LCD_S6E8AA5_A6ELTE
	bool "S6E8AA5_A6ELTE LCD driver"

config EXYNOS_DECON_LCD_S6E8AA5_FEEL2
	bool "S6E8AA5_FEEL2 LCD driver"
